*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 72);
    margin: 0 10%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.visuals {
    color: #FFF38A;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 50%;
    font-size: 1em;

}

.logos {
    position: relative;
    height: 5em;
    margin-bottom: 2em;
}

.logo {
    width: 5em;
    position: absolute;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.titles {
    position: relative;
    height: 2.2em;
    margin-bottom: 1.5em;
}

.titles h1 {
    font-size: 2.5em;
    position: absolute;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.summaries {
    position: relative;
    height: 3.5em;
    width: 70%;
}

.summaries p {
    position: absolute;
    font-size: 1.25em;
    line-height: 1.7;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.year {
    font-size: 12em;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

.changing-year {
    position: absolute;
}

.images {
    height: clamp(200px, 60vw, 600px);
    width: clamp(100px, 40vw, 400px);
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    transition: transform 300ms ease-in-out;
}

.first-image {
    background-image: url('./images/newHope.webp');
}

.second-image {
    background-image: url('./images/empireStrikesBack.png');
    z-index: -1;
}

.third-image {
    background-image: url('./images/returnJedi.webp');
    z-index: -2;
}

img {
    width: 100%;
}

.controls-and-stepper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    color: #FFF38A;
    font-size: 32px;
    cursor: pointer;
}

.inactive-arrow {
    color: #827B68;
    cursor: default;
}

.stepper {
    flex-grow: 9;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.step {
    height: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.first-step {
    justify-content: flex-end;
    flex-grow: 1;
}


.dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #827B68;
    position: relative;
    display: inline-block;
}

.dot::after {
    content: "";
    height: 32px;
    width: 32px;
    border: 2px solid #827B68;
    border-radius: 50%;
    background-color: #FFF38A;
    position: absolute;
    z-index: 5;
    transform: scale(0);
    transition: transform 150ms ease-in-out 0s;
    transform-origin: left;
}

.active>.dot::after {
    transform: scale(100%);
    transition: transform 150ms ease-in-out 150ms;
}

.line {
    height: 2px;
    width: calc(100% - 32px);
    background-color: #827B68;
    display: inline-block;
    position: relative;
}

.line::after {
    content: '';
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: #FFF38A;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out 150ms;
    transform-origin: left;
}

.active>.line::after {
    transform: scaleX(100%);
    transition: transform 150ms ease-in-out 0s;
}

.send-left {
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.send-right {
    transform: translate3d(80px, 0, 0);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.send-image-left {
    transform: translate3d(-100%, 0, 0);
    transition: transform 300ms ease-in-out;
}

.send-image-right {
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms ease-in-out;
}

@media screen and (max-width: 1024px) {
    .info {
        font-size: .8em;
    }
}