*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 72);
    margin: 0 10%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.visuals {
    color: rgb(241, 239, 127);
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

.description {
    font-size: 1em;
}

.fa-brands,
.fa-solid {
    font-size: 4em;
}

.year {
    font-size: 12em;
}

.images {
    height: 600px;
    width: 400px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image:nth-of-type(1) {
    background-image: url('./images/newHope.png');
}

.image:nth-of-type(2) {
    background-image: url('./images/empireStrikesBack.png');
    left: 150%;
}

.image:nth-of-type(3) {
    background-image: url('./images/returnJedi.png');
    left: 150%;
}

img {
    width: 100%;
}

.controls-and-stepper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.controls {
    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    color: rgb(241, 239, 127);
    font-size: 32px;
    cursor: pointer;
}

.inactive-arrow {
    color: rgb(196, 194, 132);
    cursor: default;
}

.stepper {
    flex-grow: 9;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.step {
    height: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.first-step {
    justify-content: flex-end;
    flex-grow: 1;
}


.dot {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(196, 194, 132);
    position: relative;
    display: inline-block;
}

.dot::after {
    content: "";
    height: 32px;
    width: 32px;
    border: 2px solid rgb(196, 194, 132);
    border-radius: 50%;
    background-color: rgb(241, 239, 127);
    position: absolute;
    z-index: 5;
    transform: scale(0);
    transition: transform 300ms ease-in-out 0s;
    transform-origin: left;
}

.active>.dot::after {
    transform: scale(100%);
    transition: transform 300ms ease-in-out 300ms;
}

.line {
    height: 2px;
    width: calc(100% - 32px);
    background-color: rgb(196, 194, 132);
    display: inline-block;
    position: relative;
}

.line::after {
    content: '';
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 239, 127);
    transform: scaleX(0);
    transition: transform 300ms ease-in-out 300ms;
    transform-origin: left;
}

.active>.line::after {
    transform: scaleX(100%);
    transition: transform 300ms ease-in-out 0s;
}

.image.slide-left {
    transform: translate3d(-100%, 0, 0);
    transition: transform 300ms ease-in-out 300ms;
}

.image.slide-right {
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms ease-in-out 300ms;
}